/* .urban-rivals-section {
  width: 100%;
  background-image: url('/Card_bg.png');
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  margin-top: -240px;
  z-index: 15;
  overflow-x: hidden;
} */

/* ===== SECTION BACKGROUND ===== */
.feature-section {
  position: relative;
  /* padding-left: 40px; */
  padding-top: 15vw;
  padding-bottom: 15vw;
  /* background: #0b0e14; */
  overflow: hidden;
  height: 42vw;

  background-image: url('/Card_bg.png');
  background-size: 100% 100%;
  margin-top: -16vw;
  z-index: 15;
}

/* LEFT PURPLE GLOW */
.feature-section::before {
  content: "";
  position: absolute;
  left: -8vw;
  top: 10vw;
  width: 13.3vw;
  height: 90%;
  background: radial-gradient(circle, rgba(250, 0, 255, 0.65), transparent 70%);
  filter: blur(5vw);
  z-index: 0;
}

/* RIGHT PURPLE GLOW */
.feature-section::after {
  content: "";
  position: absolute;
  right: -9vw;
  top: 17vw;
  width: 13vw;
  height: 70%;
  background: radial-gradient(circle, rgba(250, 0, 255, 0.65), transparent 70%);
  filter: blur(5vw);
  z-index: 0;
}

/* Center ORANGE GLOW */
.center-glow {
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 33vw;
  background: radial-gradient(circle, rgba(255, 140, 0, 0.55), transparent 70%);
  filter: blur(5vw);
  z-index: 0;
  pointer-events: none;
}


/* ===== WRAPPER ===== */
.cards-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.3vw;
  flex-wrap: wrap;
  max-width: 83%;
  margin: auto;
}

/* ===== CARD BASE ===== */
.feature-card {
  position: relative;
  width: 31%;
  min-height: 500px;
  /* background: linear-gradient(180deg, #161b26 0%, #0c0f18 100%); */
  border: 4px solid #000;
  background: #16181b;
  border-radius: 20px;
  text-align: center;
  color: #dfe6f0;
  /* box-shadow:
    inset 0 0 25px rgba(255, 255, 255, 0.04),
    0 15px 35px rgba(0, 0, 0, 0.8); */

  /* box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px, rgb(52, 52, 52) 0px 0px 0px 6px; */

  /* box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset; */

  filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .2980392157));

  transition: all 0.45s ease;

  /* SCROLL ANIMATION INITIAL */
  opacity: 0;
  transform: translateY(120px);

  .inner-card {
    border: 4px solid #3d4250;
    padding: 1.8vw;
    /* padding: 30px 28px; */
    border-radius: 20px;
    position: relative;

    /* ===== TITLE ===== */
    h2 {
      font-size: 3vw;
      letter-spacing: 2px;
      margin: 10px 0;
      color: #ffffff;
      font-weight: 800;
      margin-top: -40px;
      font-weight: bolder;
    font-family: "Hauser", serif;
    }

    /* ===== DESCRIPTION ===== */
    p {
      font-size: 1.2vw;
      color: #888;
      margin-top: 10px;
      line-height: 1.7vw;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }

    .img-glow {
      position: absolute;
      top: -60px;
      /* adjust based on your image */
      left: 50%;
      transform: translateX(-50%);
      width: 25vw;
      height: 25vw;
      border-radius: 50%;
      filter: blur(60px);
      z-index: 0;
      pointer-events: none;
    }

    .card-img {
      position: relative;
      z-index: 2;
      /* height: 400px; */
      height: 29vw;
      margin-top: -8vw;
    }

  }
}

.feature-card:nth-child(even) .img-glow {
  background: radial-gradient(circle, rgba(250, 0, 255, 0.65), transparent 70%);
}

.feature-card:nth-child(odd) .img-glow {
  background: radial-gradient(circle, rgba(255, 140, 0, 0.7), transparent 70%);
}


/* SHOW ON SCROLL */
.feature-card.show {
  opacity: 1;
}

.feature-card {
  transition: opacity 0.5s ease, transform 0.3s linear;
}

/* HOVER EFFECT */
/* .feature-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow:
    0 0 35px rgba(170, 0, 255, 0.45),
    0 0 35px rgba(255, 140, 0, 0.45),
    0 25px 45px rgba(0, 0, 0, 0.9);
  border-color: #3d4250;
} */

/* NEON BORDER ON HOVER */
/* .feature-card::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 22px;
  background: linear-gradient(45deg, #a000ff, #ff8c00);
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
}

.feature-card:hover::before {
  opacity: 0.35;
} */

/* ===== IMAGE ===== */
.card-img {
  width: 100%;
  height: 230px;
  object-fit: contain;
  margin-bottom: 18px;
  filter: drop-shadow(0 12px 25px rgba(0, 0, 0, 0.75));
}


/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .feature-card {
    width: 280px;
    min-height: 460px;
  }
}

@media (max-width: 768px) {
  .feature-section {
    padding: 80px 20px;
  }

  .cards-wrapper {
    gap: 25px;
  }

  .feature-card {
    width: 100%;
    max-width: 360px;
  }
}