/* MAIN SECTION */
body {
    overflow-x: hidden;
}

.faction {
    position: relative;
    width: 100%;
    height: 48vw;
    background: linear-gradient(90deg, #0b0f18 40%, #111827 100%);
    color: white;
    display: flex;
    padding: 3vw 1vw;
    /* padding: 120px 100px; */
    /* overflow: hidden; */
    box-sizing: border-box;
    font-family: "Arial", sans-serif;

    background-image:
        /* LEFT DARK GRADIENT */
        linear-gradient(90deg,
            #16181b 0%,
            #16181b 50%,
            rgb(22, 24, 27, 0.7) 65%,
            transparent 75%),

        /* RIGHT LIGHT GLOW */
        radial-gradient(circle at 80% 50%,
            rgb(22, 24, 27, 0.8),
            rgb(22, 24, 27, 0.8) 30%,
            transparent 60%),

        /* IMAGE */
        url("/Slider_bg.jpg");

    /* IMPORTANT — 3 VALUES */
    background-size:
        100% 100%,
        /* dark gradient full */
        100% 100%,
        /* glow full */
        50% 100%;
    /* image only right half */

    background-position:
        left center,
        right center,
        right center;

    background-repeat: no-repeat;

}

/* INITIAL STATE */
.reveal-left,
.reveal-right {
    opacity: 0;
    transition: all 0.8s ease;
}

/* LEFT START POSITION */
.reveal-left {
    transform: translateX(-120px);
}

/* RIGHT START POSITION */
.reveal-right {
    transform: translateX(120px);
}

/* WHEN VISIBLE */
.show {
    opacity: 1;
    transform: translateX(0);
}

/* LEFT TEXT */
.faction-left {
    width: 28%;
    height: fit-content;
    z-index: 2;
    /* border: 2px solid red; */
    /* border-right: 2px solid #555; */

    display: flex;
    justify-content: space-between;

    .left_diff {
        z-index: 2;
        height: fit-content;
        /* border: 2px solid red; */
    }

    hr {
        /* height: 20px; */
        /* width: 20px; */
        border: 0.2vw solid #393b40;
        border-radius: 1vw;
        color: #40444c;
        background-color: #40444c;
        margin-left: -0.8vw;
        z-index: 1;
        margin-top: 4vw;
    }
}

.faction-left h1 {
    font-size: 5.8vw;
    font-weight: 900;
    letter-spacing: 0.1vw;
    margin-bottom: 2vw;
    font-weight: bolder;
    font-family: "Hauser", serif;
}

.faction-left p {
    color: #767676;
    font-size: 1.2vw;
    line-height: 1.7;
    max-width: 24.8vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* MIDDLE TEXT */
.faction-middle {
    width: 28%;
    margin-left: 4.3vw;
    z-index: 2;
    /* border: 2px solid blue; */
    padding-top: 4.8vw;
}

.faction-middle .label {
    color: #ffcc00;
    font-weight: 700;
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
    font-weight: bolder;
    font-family: "Hauser", serif;
}

.faction-middle h2 {
    font-size: 3.2vw;
    margin: 0.5vw 0 0.5vw;
    margin-top: -1vw;
    font-weight: 900;
    font-weight: bolder;
    font-family: "Hauser", serif;
    letter-spacing: 0.1vw;
}

.faction-middle p {
    color: #767676;
    font-size: 1.2vw;
    line-height: 1.6;
    max-width: 40vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* RIGHT IMAGE AREA */
.faction-right {
    /* position: absolute; */
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 16;
}

/* CARD IMAGE */
.slide-image {
    height: 120%;
    margin-top: -8vw;
    /* width: 650px; */
    max-width: 90%;
    transition: transform 0.4s ease, opacity 0.4s ease;
    filter: drop-shadow(0 40px 50px rgba(0, 0, 0, 0.7));
    position: relative;
}

/* SLIDER CONTROLS */
.slider-controls {
    position: absolute;
    bottom: 3vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 2vw;
    z-index: 17;
}

/* ARROW BUTTONS */
.arrow {
    /* width: 48px;
    height: 48px; */

    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 50%;
    background-color: #272a2c;
    border: 0.3vw solid #000;
    padding: 0.4vw;

    .inner_arrow {
        background-color: #000;

        border-radius: 50%;
        padding: 0.9vw;
        /* background: #141a24;
    border: 2px solid #2b3344; */
        color: white;
        font-size: 1vw;
    }

    .left_arrow {
        transform: rotateY(180deg);
    }
}

.arrow:hover {
    background: none;
    border: 0.1vw solid #ffcc00;
    color: white;

    .inner_arrow {
        box-shadow:
            0 0 7px #ffcc00,
            0 0 25px rgba(255, 204, 0, 0.3);
        background-color: #ffcc00;
    }
}

/* DOTS */
.dots {
    display: flex;
    gap: 1vw;
}

.dots span {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background: #2b3344;
    cursor: pointer;
    transition: 0.2s ease;
}

.dots span:hover {
    background: #555;
}

.dots .active {
    background: #ffcc00;
    box-shadow: 0 0 8px #ffcc00;
}

/* RESPONSIVE */
/* @media (max-width: 1024px) {
    .faction {
        flex-direction: column;
        height: auto;
        padding: 80px 40px;
    }

    .faction-left,
    .faction-middle {
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .faction-right {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    .slide-image {
        width: 500px;
    }

    .slider-controls {
        bottom: 20px;
    }
} */


/* @media (max-width: 1024px) {

    .reveal-left,
    .reveal-right {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .faction {
        flex-direction: column;
        height: auto;
        padding: 6vw 5vw 14vw;
        position: relative;
        overflow: hidden;

        background-image: none;
    }

    hr{
        display: none;
    }

    .faction-left,
    .faction-middle,
    .faction-right {
        width: 100%;
        margin-left: 0;
    }

    .faction-left h1 {
        font-size: 7vw;
    }

    .faction-left p,
    .faction-middle p {
        font-size: 2vw;
        max-width: 100%;
        color: white;
    }

    .faction-middle {
        padding-top: 4vw;
    }

    .faction-middle h2 {
        font-size: 6vw;
    }

    .faction-middle .label {
        font-size: 3vw;
    }

    .faction-right {
        position: absolute;
        right: -4vw;
        bottom: 10vw;
        width: 70vw;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }

    .slide-image {
        height: 100%;
        width: auto;
        opacity: 0.85;
    }

    .faction::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right,
                rgba(10, 10, 12, 0.95) 20%,
                rgba(10, 10, 12, 0.6) 50%,
                rgba(10, 10, 12, 0.2) 80%);
        z-index: 2;
        pointer-events: none;
    }

    .slider-controls {
        bottom: 4vw;
    }
} */

@media (min-width: 1980px) {
    .faction {
        height: 42vw;
        position: relative;
        overflow: hidden;
    }

    .faction-left {
        /* border: 2px solid red; */
        padding-left: 180px;
        margin-top: -1vw;

        h1 {
            font-size: 4.4vw;
        }

        p {
            width: 79%;
            font-size: 18.5px;
        }

        hr {
            border: 0.1vw solid #393b40;
            margin-top: 4vw;
            margin-left: -5.3vw;
        }
    }

    .faction-middle {
        padding-top: 2.5vw;
        margin-left: -2vw;
        /* border: 2px solid blue; */

        .label {
            font-size: 1.2vw;
        }

        h2 {
            font-size: 2.6vw;
        }

        p {
            width: 79%;
            font-size: 1vw;
            line-height: 1.3;
            margin-top: -0vw;
        }
    }

    .faction-right {
        /* border: 2px solid yellow; */

        .slide-image {
            height: 143%;
            margin-top: -1vw;
            margin-left: -350px;
        }
    }

    .slider-controls {
        margin-left: -100px;
    }

    .arrow {
        border: 0.2vw solid #000;
    }
}

@media (max-width: 1024px) {
    .faction {
        position: relative;
        overflow: hidden;

        background-image: none;
    }
}

@media (max-width: 768px) {
    .faction {
        flex-direction: column;
        height: auto;
        padding: 6vw 5vw 14vw;
        position: relative;
        overflow: hidden;

        background-image: none;
    }

    .reveal-left,
    .reveal-right {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .faction-left,
    .faction-middle,
    .faction-right {
        width: 100%;
        margin-left: -10px;
    }

    .faction {
        padding: 10vw 5vw 20vw;
        background-size: 100% 100%, 100% 100%, 100% 60%;
    }

    .faction-left {
        flex-direction: column;
    }

    .faction-left hr {
        display: none;
    }

    .faction-left h1 {
        font-size: 5vw;
    }

    .faction-left p {
        font-size: 2.4vw;
        line-height: 3vw;
        max-width: 100%;
        color: white;
    }

    .faction-middle {
        padding-top: 6vw;
    }

    .faction-middle .label {
        font-size: 3vw;
    }

    .faction-middle h2 {
        font-size: 5vw;
        margin-top: -20px;
    }

    .faction-middle p {
        line-height: 3vw;
        font-size: 2.4vw;
        max-width: 100%;
        color: white;
    }

    .faction-right {
        margin-top: 8vw;
    }

    /* .slide-image {
        width: 85vw;
        filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.6));
    } */


    .faction-right {
        position: absolute;
        right: -4vw;
        bottom: 20vw;
        width: 70vw;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }

    .slide-image {
        height: 100%;
        width: auto;
        opacity: 0.85;
        /* highlight only */
        /* filter: blur(1px) brightness(0.8); */
    }

    .faction::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right,
                rgba(10, 10, 12, 0.95) 20%,
                rgba(10, 10, 12, 0.6) 50%,
                rgba(10, 10, 12, 0.2) 80%);
        z-index: 2;
        pointer-events: none;
    }

    .slider-controls {
        bottom: 5vw;
        gap: 4vw;
    }

    .arrow .inner_arrow {
        padding: 2vw;
        font-size: 2vw;
    }

    .dots span {
        width: 2vw;
        height: 2vw;
    }
}


@media (max-width: 480px) {
    .faction {
        position: relative;
        overflow: hidden;

        background-image: none;
    }

    .reveal-left,
    .reveal-right {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .faction-left,
    .faction-middle,
    .faction-right {
        width: 100%;
        margin-left: 10px;
    }

    .faction-left h1 {
        font-size: 12vw;
        z-index: 2;
    }

    .faction-middle .label {
        font-size: 7vw;
    }

    .faction-middle h2 {
        font-size: 12vw;
        z-index: 2;
    }

    .faction-left p,
    .faction-middle p {
        color: white;
        font-size: 5.4vw;
        line-height: 6.5vw;
        font-weight: 500;
    }

    .faction-left,
    .faction-middle {
        position: relative;
        z-index: 3;
    }

    /* .faction-right {
        z-index: 1;
    }

    .slide-image {
        width: 92vw;
        z-index: -1;
        opacity: 50%;
        margin-top: -180vw;
    } */

    .faction-right {
        position: absolute;
        right: -4vw;
        bottom: 20vw;
        width: 70vw;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }

    .slide-image {
        height: 100%;
        width: auto;
        opacity: 0.85;
        /* highlight only */
        /* filter: blur(1px) brightness(0.8); */
    }

    .faction::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right,
                rgba(10, 10, 12, 0.95) 20%,
                rgba(10, 10, 12, 0.6) 50%,
                rgba(10, 10, 12, 0.2) 80%);
        z-index: 2;
        pointer-events: none;
    }

    .slider-controls {
        bottom: 5vw;
        gap: 4vw;
    }

    .arrow {
        padding: 1vw;
    }

    .arrow .inner_arrow {
        padding: 4vw;
        font-size: 3vw;
    }

    .dots span {
        width: 3.5vw;
        height: 3.5vw;
    }

    .dots {
        gap: 2vw;
    }
}