@font-face {
    font-family: "Komika";
    src: url("/komika-text.kaps-bold.ttf") format("truetype");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "Hauser";
    src: url("/Hauser\ Bold.otf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

.footer-wrapper {
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* ================= HERO AREA ================= */
.footer-hero {
    height: 30vw;
    position: relative;
    overflow: hidden;

    /* CITY BACKGROUND */
    background-image: url("/Footer_bg.jpg");
    background-size: 100%;
    background-position: right center;
    /* IMPORTANT */
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 20;
}

/* LEFT GIRL IMAGE */
.footer-hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    background: url("/Footer_side.png") no-repeat left bottom;
    background-size: 120% 235%;
    background-position: 100.5% 0%;
    z-index: 2;
    pointer-events: none;
}

/* GLOW + DARK OVERLAY */
.footer-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    /* background:
        radial-gradient(circle at 18% 55%,
            rgba(255, 180, 0, 0.65),
            rgba(255, 230, 120, 0.85) 30%,
            transparent 55%),
        radial-gradient(circle at 28% 35%,
            rgba(255, 0, 170, 0.25),
            transparent 60%); */

    background:
        /* radial-gradient(circle at 25% 40%, rgba(255, 204, 0, 0.55), transparent 45%), */
        radial-gradient(circle at 18% 75%,
            rgba(238, 255, 0, 0.65),
            rgba(230, 255, 120, 0.8) 30%,
            transparent 40%),
        radial-gradient(circle at 40% 40%, rgba(255, 0, 200, 0.55), transparent 50%),
        linear-gradient(to bottom, rgba(255, 0, 200, 0.05), rgba(255, 230, 120, 0.08));

        filter: blur(15px);
}

/* BRING CONTENT ABOVE OVERLAY */
.start-title,
.platforms,
.discord-btn {
    position: relative;
    z-index: 3;
}

/* TITLE */
.start-title {
    color: #ffcc00;
    font-size: 2.1vw;
    font-weight: 900;
    text-shadow: 0 0.3vw -1vw black;
    margin-top: -7vw;
    font-weight: bolder;
    font-family: "Hauser", serif;
    filter: drop-shadow(0 4px 0 #3a3b42) drop-shadow(0 -4px 0 #3a3b42) drop-shadow(-4px 0 0 #3a3b42) drop-shadow(4px 0 0 #3a3b42);
}

/* PLATFORM BADGES */
.platforms {
    display: flex;
    gap: 1.7vw;
    margin-top: -3.5vw;
}

.platforms img {
    height: 4vw;
    border-radius: 0.9vw;
    transition: 0.3s ease-in-out;
}

.platforms img:hover {
    transform: scale(1.1);
}

/* DISCORD BUTTON */
.discord-btn {
    display: flex;
    gap: 0.8vw;
    align-items: center;
    padding: 0.5vw 2vw;
    border-radius: 2.5vw;
    border: 0.4vw solid #0b0d10;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 3vw;
    font-weight: bolder;
    font-family: Komika, serif;
    font-size: 1.5vw;
    text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;

    background: linear-gradient(to bottom,
            #6ea8fe 0%,
            #3d8bfd 40%,
            #0d6efd 60%,
            #084298 100%);
}

.discord-btn:hover {
    border: 0.4vw solid #0b0d10;
    transform: scale(1.05);
    background: linear-gradient(to bottom,
            #ffb3ff 0%,
            #ff33ff 40%,
            #cc00cc 60%,
            #ff66ff 100%);
}

/* ================= DARK FOOTER ================= */
.footer-dark {
    background: #0b0d10;
    text-align: center;
    padding: 2.8vw 2vw;
    padding-bottom: 0.5vw;
    color: #888;
    z-index: 25;
    position: relative;
}

.games-logo {
    height: 7vw;
    margin-bottom: 1vw;
    margin-top: -10vw;
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin-bottom: 1.5vw;
    color: #ffcc00;
    font-size: 2vw;
}

.social-icons .inner-icon {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}

/* ================= LIGHT FOOTER ================= */
.footer-light {
    background: #1e2021;
    text-align: center;
    padding: 1.3vw;
    color: #888;
}

.footer-light .copyright {
    font-size: 1.1vw;
    color: #888;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .flex {
        display: flex;
        gap: 10px;
    }
}

.footer-light .copyright span {
    color: #ffcc00;
}

.copy_text {
    font-size: 1.1vw;
}

/* ================= RESPONSIVE ================= */
/* @media (min-width: 1780px) and (max-width: 1980px) { */
@media (min-width: 1700px) {
    .footer-hero {
        height: 25vw;
    }

    .footer-hero::before {
        background-size: 101% 235%;
        background-position: 1650.5% 0%;
    }

    .start-title {
        font-size: 2vw;
    }

    .platforms {
        gap: 1vw;
    }

    .platforms img {
        height: 3.3vw;
    }

    .discord-btn {
        padding: 0.5vw 1vw;
        border-radius: 2.5vw;
        border: 0.4vw solid #0b0d10;
        font-size: 1.3vw;
    }

    .games-logo {
        height: 4.5vw;
        margin-bottom: 2vw;
    }

    .social-icons {
        font-size: 1.5vw;
        gap: 5vw;
        margin-top: -1vw;
    }

    .footer-light .copyright,
    .footer-light .copy_text {
        font-size: 0.8vw;
    }
}

@media (max-width: 1024px) {

    .footer-hero {
        height: 46vw;

        background-size: 120% 115%;
        background-position: 50% 100%;
        /* background-repeat: no-repeat; */
    }

    .footer-hero::before {
        width: 60vw;
        background-size: 160% 160%;
        left: -120px;
        bottom: 0;
        /* opacity: 0.7; */
        height: 100%;
    }

    /* .footer-hero::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 34vw;
        height: 100%;
        background: url("/Footer_side.png") no-repeat left bottom;
        background-size: 235% 235%;
        background-position: 28% 0%;
        z-index: 2;
        pointer-events: none;
    } */

    .start-title {
        font-size: 3.5vw;
        margin-top: -8vw;
    }

    .platforms img {
        height: 5vw;
    }

    .discord-btn {
        margin-top: 10vw;
        font-size: 2.5vw;
        padding: 1vw 3vw;
    }

    .games-logo {
        height: 8vw;
        margin-top: -10vw;
    }

    .social-icons {
        font-size: 3vw;
        gap: 10vw;
    }

    .footer-light .copyright,
    .copy_text {
        font-size: 1.5vw;
    }
}

@media (max-width: 768px) {

    /* .footer-hero {
        padding: 18vw 5vw;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    } */

    .footer-hero {
        height: 90vw;
        background-size: 130% 135%;
        background-position: 50% 100%;
    }

    .footer-hero::before {
        width: 60vw;
        background-size: 220% 130%;
        left: -85px;
        bottom: 0;
        /* opacity: 0.7; */
        height: 100%;
    }

    .start-title {
        font-size: 4vw;
    }

    .platforms {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        gap: 0.5vw;
    }

    .platforms img {
        height: 8vw;
    }

    .discord-btn {
        font-size: 2.5vw;
        padding: 2vw 5vw;
    }

    .social-icons {
        /* flex-direction: column; */
        gap: 10vw;
        font-size: 4vw;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .games-logo {
        height: 10vw;
        margin-top: -10vw;
    }

    .footer-light .copyright,
    .copy_text {
        font-size: 2vw;
    }

    .footer-light .copyright {
        flex-direction: column;
        gap: 2px;

        .flex {
            flex-direction: column;
            gap: 2px;
        }

        .hide {
            display: none;
        }
    }

    .copy_text {
        margin-top: -10px;
    }

    .discord-btn {
        padding: 1.3vw 4vw;
        border-radius: 4.5vw;
        border: 0.8vw solid #0b0d10;
        margin-top: 8vw;
    }
}

@media (max-width: 480px) {

    .footer-hero {
        height: 230vw;
        background-size: 400% 400%;
        background-position: 20% 50%;
    }

    .footer-hero::before {
        width: 120%;
        background-size: 240% 100%;
        left: -45px;
        bottom: 0;
        /* opacity: 0.7; */
        height: 100%;
    }

    .start-title {
        font-size: 10vw;
    }

    .platforms {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1vw;
    }

    .platforms img {
        height: 18vw;
    }

    .discord-btn {
        font-size: 5.5vw;
        padding: 5vw 10vw;
    }

    .social-icons {
        flex-direction: column;
        gap: 8vw;
        font-size: 7vw;
        padding-bottom: 20px;
    }

    .games-logo {
        height: 25vw;
        margin-top: -15vw;
    }

    .footer-light .copyright,
    .copy_text {
        font-size: 4vw;
    }

    .discord-btn {
        padding: 3.5vw 9vw;
        border-radius: 9.5vw;
        border: 2vw solid #0b0d10;
        margin-top: 25vw;
    }
}