@font-face {
    font-family: "Komika";
    src: url("/komika-text.kaps-bold.ttf") format("truetype");
    font-weight: bolder;
    font-style: italic;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    display: flex;
    gap: 50px;
    /* overflow-x: hidden; */
}

.header-left {
    /* padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px; */
    padding: 10px 0px 30px 20px;
    background-image: url('/logo_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: 100% -100%; */

    img {
        height: 110px;
        transition: 0.1s ease-in-out;
    }

    img:hover {
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
    }
}

.header-right {
    width: 100%;
    overflow: hidden;
    padding-left: 200px;
    background-image: url('/Header_bg.png');
    background-size: 80% 75%;
    background-repeat: no-repeat;
    background-position: 100% -100%;
}

.nav {
    /* width: 100%; */
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding: 15px 60px; */
    color: white;
    font-weight: bolder;
    font-family: Komika, serif;
    font-size: 18px;

    .nav_bar {
        /* border: 2px solid red; */
        padding-right: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 5px;

        hr {
            height: 20px;
            /* width: 20px; */
            border: 2px solid #40444c;
            border-radius: 10px;
            color: #40444c;
            background-color: #40444c;
        }

        .nav_anim {
            transition: 0.8s ease-in-out;
        }

        .nav_anim:hover {
            color: #f0f;
            transform: scale(1.1) rotate(-10deg);
            transition: 0.5s ease-in-out;
        }

        .nav_anim_diff:hover {
            transform: scale(1.1);
            transition: 0.1s ease-in-out;
        }
    }
}

.nav .nav_diff {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #7982d1;
}

.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.wire {
    border: 2px solid red;
    position: absolute;
    z-index: 1;

    .wire_1 {
        position: absolute;
        top: -58px;
        left: -300px;
        z-index: 2;
    }

    .wire_2 {
        position: absolute;
        top: -25px;
        left: -125px;
        transform: rotate(20deg);
        /* height: 80px; */
        z-index: 2;
    }

    .wire_3{
        position: absolute;
        top: -45px;
        left: -140px;
        transform: rotate(-5deg);
        z-index: 2;
    }

    .wire_4 {
        position: absolute;
        top: -58px;
        left: -270px;
        z-index: 1;
    }

    .wire_5 {
        position: absolute;
        top: -35px;
        left: -85px;
        transform: rotate(-5deg);
    }
}

.button_bg {
    background-color: #272a2c;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 40px;
    border: 4px solid #000;
    width: fit-content;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease;
    z-index: 1;
    overflow: hidden;
    /* box-shadow: 0 0 80px rgba(255, 208, 0, 0.8),
        0 0 0 0 rgba(255, 140, 0, 0.45); */

    /* box-shadow: 0 -10px 20px -5px rgba(255, 208, 0, 0.75); */
    /* box-shadow: 0 -8px 25px rgba(255, 208, 0, 0.7); */
}

.button_bg::before {
    content: "";
    position: absolute;
    top: 20;
    left: 91%;
    transform: translateX(-50%);
    width: 100px;
    /* controls center width */
    height: 30px;
    /* box-shadow: 0 -8px 20px rgba(255, 208, 0, 0.7); */
    box-shadow: 0 0 60px rgba(255, 208, 0, 0.9),
        0 0 0 0 rgba(255, 140, 0, 0.45);
    pointer-events: none;
    background: none;
    z-index: -1;
}

.button_bg:hover::before {
    box-shadow: none;
}

.play-top {
    position: relative;
    font-family: Komika, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 18px;

    padding: 5px 50px;
    border-radius: 40px;
    border: none;
    /* border: 4px solid #1c1c1c; */

    color: #2b2b2b;
    cursor: pointer;
    z-index: 2;

    /* Yellow Gradient */
    background: linear-gradient(to bottom,
            #fff799 0%,
            #ffd900 40%,
            #ffbf00 60%,
            #ffe066 100%);

    /* 3D Look */
    /* box-shadow:
        inset 0 2px 0 #ffffffaa,
        inset 0 -4px 0 #c48a00,
        0 2px 0 #1a1a1a,
        0 0 12px #ffd400; */

    transition: all 0.15s ease;
}

.button_bg:hover {
    transform: scale(1.1);
}

.play-top:hover {
    color: white;
    /* transform: scale(1.1); */

    background: linear-gradient(to bottom,
            #ffb3ff 0%,
            #ff33ff 40%,
            #cc00cc 60%,
            #ff66ff 100%);


    /* box-shadow:
        inset 0 2px 0 #ffffffaa,
        inset 0 -4px 0 #990099,
        0 2px 0 #1a1a1a,
        0 0 12px #ff00ff88; */
}