.hero {
    position: relative;
    height: 55vw;
    overflow: hidden;
    background: black;
}

/* Shared Layer */
.layer {
    position: absolute;
    pointer-events: none;
}

/* Background */
.bg {
    width: 110%;
    height: 110%;
    object-fit: cover;
    top: -5%;
    left: -5%;
    z-index: 1;
}

/* Characters */
.char1 {
    /* height: 1300px; */
    height: 80vw;
    left: 2%;
    top: -48%;
    z-index: 4;
    transition: transform 0.2s;
}

.char2 {
    /* height: 1300px; */
    height: 88vw;
    right: 8%;
    top: 10%;
    z-index: 5;
    transition: transform 0.2s;
}

.char3 {
    /* height: 700px; */
    height: 45vw;
    right: 2%;
    top: -3%;
    z-index: 4;
    transition: transform 0.2s;
}

.char4 {
    /* height: 800px; */
    height: 52vw;
    left: -4.5%;
    top: 3%;
    z-index: 2;
    transition: transform 0.2s;
}

.char-yellow {
    position: absolute;
    z-index: 5;
}

/* Image */
.char-yellow img {
    /* height: 1170px; */
    height: 76.5vw;
    position: relative;
    z-index: 2;
}

/* Glow */
.char-glow-yellow {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 300px;
    height: 300px; */
    width: 20vw;
    height: 20vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #ffff65;
    filter: blur(10vw);
    opacity: 0.8;
    z-index: 1;
}

.char-yellow::before {
    content: "";
    position: absolute;
    width: 5vw;
    height: 0px;
    /* background: #ffff65; */
    border-radius: 50%;
    filter: blur(12vw);
    top: 30%;
    left: 35%;
    z-index: -1;
    /* box-shadow: 0 0 80px 180px #ffff65; */
    box-shadow: 0 0 7vw 15vw #ffff65;
}

.char-orange {
    position: absolute;
    width: 32vw;
    left: 50%;
    top: 1.3vw;
    transform: translateX(-50%);
    z-index: 6;
}

/* Image */
.char-orange img {
    width: 32vw;
    position: relative;
    z-index: 2;
}

/* Glow */
.char-glow-orange {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1vw;
    height: 1vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fd7e14;
    filter: blur(12vw);
    opacity: 0.8;
    z-index: 1;
}

.char-orange::before {
    content: "";
    position: absolute;
    width: 2vw;
    height: 2vw;
    /* background: #ffff65; */
    border-radius: 50%;
    filter: blur(8vw);
    top: 90%;
    left: 40%;
    z-index: -1;
    /* box-shadow: 0 0 80px 180px #ffff65; */
    box-shadow: 0 0 5vw 12vw #fd7e14;
}


/* Play Button */
.play-wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

.play-wrapper img {
    height: 13vw;
}

.play-glow {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transition: 0.3s;
    height: 8.5vw;
    width: 8.5vw;
    top: 15%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    .play_icon {
        /* color: white; */
        font-size: 2vw;
        margin-left: 0.8vw;
        color: black;
    }
}

.play-wrapper:hover .play-glow {
    box-shadow: 0 0 3vw purple;
    background: rgba(128, 0, 255, 0.4);

    .play_icon {
        color: white;
    }
}

/* Center Logo */
/* .center-logo {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    z-index: 6;
} */

/* Store Buttons */
.stores {
    position: absolute;
    top: 41vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.6vw;
    z-index: 12;
}

.stores img {
    height: 4vw;
    transition: 0.1s ease-in-out;

}

.stores img:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}



@media (max-width: 700px) {

    .hero {
        height: 100vh;
        min-height: 600px;
    }

    /* CHARACTERS SMALLER */
    .char1,
    .char2,
    .char3,
    .char4 {
        display: none;
    }

    /* LOGO CENTER */
    .char-orange {
        display: none;
    }

    /* PLAY BUTTON */

    .play-wrapper {
        margin-top: -200px;
        margin-left: 10px;
    }

    .play-wrapper img {
        height: 60vw;
    }

    .play-glow {
        height: 20vw;
        width: 20vw;
        /* display: flex;
        justify-content: center;
        align-items: center; */

        .play_icon {
            font-size: 8vw;
            margin-left: 20.8vw;
            margin-top: 20vw;
        }
    }

    /* STORE BUTTONS STACK */
    .stores {
        top: 45vh;
        flex-direction: column;
        gap: 5px;
    }

    .stores img {
        height: 55px;
        margin-left: 10px;
    }
}